/* Mission and Story Section */
.mission-section, .story-section {
    margin: 40px 20px 40px;
    padding-right: 40px;
}
.mission-section > h1 {
    text-align: center;
}
.mission-section > sub {
    text-align: center;
    margin: 0 auto; /* Ensure any automatic margin that may affect alignment is set to auto */
    width: 90%; /* Ensure it takes the full width of its container */
    display: block; /* Ensure it's a block element */
    font-size: 16pt;
}


/* Values Section */
.values-section {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 40px;
}
.values-header > h2 {
    text-align: center;
}

.value {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    display: block; /* Ensures the container is a block element */
}
.value img {
    display: block; /* Ensures each <p> is a block element */
    width: 100px;
    height: 100px;
    margin: 0 auto; /* This centers the image horizontally */
}
.value > p {
    display: block; /* Ensures each <p> is a block element */
    margin-top: 1rem;
    text-align: center;
}

/* Our Story Section */
.story-section {
    display: flex;
    justify-content: space-between;
    /*margin: 40px 0;*/
    align-items: center; /* To vertically center items */
}
.story-text > h3 {
    text-align: center;
    position: relative; /* Makes sure the pseudo-element positions itself relative to the h3 */
}
.story-text {
    /* This causes the bar to mov eoff page on large pages*/
    /*width: 55%; !* Adjust as needed to control spacing *!*/
}

.story-section .story-text h3::after {
    content: ""; /* This is necessary for the pseudo-element to show */
    position: absolute; /* Allows precise positioning */
    left: 100px;
    right: 100px;
    bottom: -8px;
    height: 2px; /* Thickness of the underline */
    background: var(--color-bar);
}
.story-image img {
    max-width: 400px;
    display: block;
    /*margin-right: 10px;*/
    margin-left: 40px;
}

