/* Footer styles */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #605E5E; /* Choose your preferred color */
  color: #FFF; /* Choose your preferred color */
}

.footer-header {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center-align children */
    margin: 0px 0; /* Reduce margin top and bottom */
    margin-bottom: -3rem;  /* Adjust this value as needed */
}
.footer-header p {
    flex: 1; /* Allow the text to take up remaining space */
    text-align: center; /* Align text to the right */
}
.footer-header > a > img {
    transform: scale(0.35);
}

.info-container {
    display: flex;
    align-items: center; /* Vertically align the logo and text */
    gap: 1rem;
    flex-direction: column; /* Stack items vertically */
    margin: 0; /* Reset default margin */
}
.info-container p {
    font-size: 14px;
    margin: 0px 0; /* Reduce margin top and bottom */
}

.footer-socials {
  display: flex;
  gap: 15px;
}
.footer-socials img {
  width: 24px;
  height: 24px;
}
.footer-socials a {
  font-size: 24px; 
  color: #FFF;
  text-decoration: none;
}

.footer-links-container {
  display: flex;
  justify-content: center;
  gap: 3rem; /* Adjust the gap between the two link lists */
}
.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  margin-bottom: 0.5rem; /* Spacing between links */
}
.footer-links a {
  color: #FFF;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
