.header-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 10px 10px 10px;
    background-color: lightslategray;
}
.header-top p {
    flex: 1;
    text-align: center;
}
.header-top > div > a > img {
    width: 100px;
    height: auto;
    margin-left: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.nav-links a:hover {
    text-decoration: underline;
    background-color: #444; /* Add a hover effect for better UX */
}

.login-buttons {
    /*display: grid;           !* top by top buttons *!*/
    display: flex;           /* Side by side buttons */
    gap: 10px;               /* Space between buttons */
}
button {
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* Business button specific styling */
button.business {
    background-color: #ff5a5f;
}
button.business:hover {
    background-color: #e55055;
}
/* User button specific styling */
button.user {
    background-color: #4a90e2;
}
button.user:hover {
    background-color: #4180c6;
}
