.header-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 10px 10px 10px;
    background-color: var(--color-background);
}
.header-top p {
    flex: 1;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
.nav-links li a {
    text-decoration: none;
    color: var(--dropdown-text-color) !important;
    padding: 5px 10px;
    transition: background-color 0.3s;
}
.nav-links a:hover {
    text-decoration: underline;
    background-color: var(--dropdown-container-color); /* Add a hover effect for better UX */
}

.login-buttons {
    display: grid;  /* Side by side buttons */
    gap: 10px;      /* Space between buttons */
}
button {
    border-radius: 10px;
    color: white;
    padding: 6px 1px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 7rem;
    margin-right: 10px;
}
/* Business button specific styling */
button.business {
    background-color: #ff5a5f;
}
button.business:hover {
    background-color: #e55055;
}
/* User button specific styling */
button.user {
    background-color: #4a90e2;
}
button.user:hover {
    background-color: #4180c6;
}

/* Style for dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Style for dropdown button */
.dropbtn {
    /*highlighting the drop down seems odd*/
    /*todo - figure out how to handle this on mobile*/
    /*background-color: darkgray;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* Style for dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-container-color) !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Style for dropdown links and text color*/
.dropdown-content a {
    color: var(--dropdown-text-color) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Display the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change background color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--dropdown-hover-color);
}

/* once hamburger menu is ready - this won't suck as much*/
@media (max-width: 768px) {
  /* Ensure that buttons and links are easily clickable on mobile */
  button, .cta-button, a {
    min-width: 44px; /* The minimum recommended size for touch targets */
    min-height: 44px; /* The minimum recommended size for touch targets */
  }
  /* Adjust heading sizes for mobile to ensure they don't overflow their containers */
  h1, h2, h3 {
    font-size: smaller; /* Adjust the font size down, or use a specific size */
  }
  /* Make sure that any paragraphs or spans are not too wide and have adequate line height */
  p, span {
    line-height: 1.5; /* Increase line height for readability */
    word-wrap: break-word; /* Ensure long words don't overflow their containers */
  }
}


